body{
  background-image: url(hintergrund.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin : 0;
  height: 100vh;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Aligning clock at the center of the container */
    height: 20vh; /* Setting container height to 25% of the viewport height */
}

#clock{
  font-family: monospace;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, 0.09);
  width: 100%;
}

#button-container{
    display: flex;
    justify-content: center;    
}

.btn{
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    height: 50px ;
    width: 150px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    color: whitesmoke;
    cursor: pointer;
    margin: 10px;
    
}

.btn:hover{
  background-color: rgba(119, 136, 153, 0.151);
}

#region-selected{
  height: 10vh;
  display: flex;
  justify-content: center;
  color: rgb(250, 250, 250);
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
}